* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    padding: 3em;
}

.nav {
    gap: 150px;
    margin-bottom: 5%;
}

.botones {
    display: flex;
    gap: 15px;
}

.boton {
    height: 40px;
    padding: 1em;
    display: flex;
    align-items: center;
}

.main {
    margin-left: 15%;
    margin-right: 15%;
}



.textos span {
    font-size: 15px;
}

.footer {
    margin-top: 30%;
    border: 2px solid #555;
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    background: #c5c5c5;
}

a {
    text-decoration: none;
    color: black;
}