* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    padding: 3em;
}

.nav {
    gap: 150px;
    margin-bottom: 5%;
}

.botones {
    display: flex;
    gap: 15px;
}

.boton {
    height: 40px;
    padding: 1em;
    display: flex;
    align-items: center;
}

.boton:hover{transform: scale(1.05); background-color: #f0f5f1;}

.main {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}



.textos span {
    font-size: 15px;
}

.footer {
    margin-top: 5%;
    border: 2px solid #555;
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    background: #c5c5c5;
}

a {
    text-decoration: none;
    color: black;
}

#texto{font-size: 14px; font-weight: 700;}

#BIzquierda{width: 75%; padding: 30px; display: block;}
#Linea{width: 90%; float: left;}

#Formulario{display: block; font-size: 20px; font-weight: bold;}
#BSuperior{display: flex;}
#Apellidos{ margin-left: 260px; }

#InputNA{ height: 30px;}
#InputAsunto{height: 30px;}
#InputMensaje{height: 50px;}

.enviar {
    background-color: rgb(218, 216, 216);
    width: 100px;
    font-size: 18px; 
    color: #046913; 
    padding: 10px;
    border: 1px solid #046913;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    border-radius: 3px;
}

.enviar:hover{transform: scale(1.05); box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);}

#BDerecha{width: 23%; padding: 30px; display: block; margin-top: 7px;}
#Linea2{width: 100%; float: left;}

label {
    margin-top: 1em;
    margin-bottom: 0.2em;
}